{% load staticfiles %}
{% load static %}

<!DOCTYPE HTML>
<html>
 <meta http-equiv="content-type" content="text/html;charset=UTF-8" /> 
<head>
<title>Systray- ChangePassword</title>
<!--css-->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" >
<link href="{% static 'css/style.css' %}" rel="stylesheet" >
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
<!--css-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="New Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="js/jquery.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!--search jQuery-->
	<script src="js/main.js"></script>
<!--search jQuery-->

 <!--mycart-->
<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
 <!-- cart -->
<script src="js/simpleCart.min.js"></script>
<!-- cart -->
  
</head>
<body class="bg">
	<!--header-->
    <header class="header">
            <a href="{% url 'index' %}" class="logo"><img class="" src="../static/images/logo.png" alt="image" style="width: 160px;"></a>
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
              <li><a href="/dashboard/">Home</a></li>
              <li><a href="/products/">Women</a></li>
              <li><a href="/products1/">Men</a></li>
              <li><a href="/products2/">Kids</a></li>
              <li><a href="/mail/">Contact</a></li>
            </ul>
          
            <div class="top-right">
              <ul>
                  <li><a href="/#/">Checkout</a></li>
                  <li><a href="#" style="background: steelblue; color: #fff !important;">{{ request.session.vname }}</a></li>
                  <li><a href="/vlogout/">Logout</a></li>	</ul>	</ul>
              </div>
          </header>
		<!--header-->
<div class="content">
			<div class="login">
				<!---728x90--->
				<div class="container">         
        <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Change Password</div>
                </div>  
                <div class="panel-body" >
                    <form method="post" action=".">
                        <form  class="form-horizontal" method="post" >
                            <div id="div_id_password1" class="form-group required">
                                <label for="id_password1" class="control-label col-md-4  requiredField">Old Password<span class="asteriskField">*</span> </label>
                                <div class="controls col-md-8 "> 
                                    <input class="input-md textinput textInput form-control" id="id_password1" name="password1" placeholder="Create a password" style="margin-bottom: 10px" type="password" />
                                </div>
                            </div>
                            <div id="div_id_password2" class="form-group required">
                                 <label for="id_password2" class="control-label col-md-4  requiredField"> New Password<span class="asteriskField">*</span> </label>
                                 <div class="controls col-md-8 ">
                                    <input class="input-md textinput textInput form-control" id="id_password2" name="password2" placeholder="Confirm your password" style="margin-bottom: 10px" type="password" />
                                </div>
                            </div> 
                            <div class="form-group"> 
                                <div class="aab controls col-md-4 "></div>
                                <div class="controls col-md-8 ">
                                    <input type="submit" name="Signup" value="Update Password" class="btn btn-primary btn btn-info" id="submit-id-signup" />
                                </div>
                            </div> 
                                
                        </form>
    
                    </form>
                </div>
            </div>
        </div> 
    </div>
		  </div>
     	</div>

        <!--content-->
		<!---footer--->
		<div class="footer-w3l">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-6 footer-grid">
                <h4>About </h4>
                <p>SYSTRAY helps people to E-Commerce their product ideas.
                        <br><br>
                        At our core, SYSTRAY operates on Imagination, Individuality, Good, & Impact.
                        <br><br>
                        We deliver Innovative , Relaible & Smart Products.
                        <br><br>
                        At SYSTRAY, we make magic We dream it, And then do it together every day reinventing what’s possible.</p>
                <div class="social-icon">
                    <a href="#"><i class="icon"></i></a>
                    <a href="#"><i class="icon1"></i></a>
                    <a href="#"><i class="icon2"></i></a>
                    <a href="#"><i class="icon3"></i></a>
                </div>
            </div>
            <div class="col-md-3 footer-grid">
                <h4>My Account</h4>
                <ul>
                    <li><a href="/dashboard">Home</a></li>
                    <li><a href="">Login</a></li>
                    <li><a href="/yourproducts">Products</a></li>
                    <li><a href="/checkout">Checkout</a></li>
                </ul>
            </div>
            <!-- <div class="col-md-3 footer-grid">
                <h4>Information</h4>
                <ul>
                    <li><a href="/dashboard">Home</a></li>
                    <li><a href="/yourproducts">Products</a></li>
                </ul>
            </div> -->
            <div class="col-md-3 footer-grid foot">
                <h4>Contacts</h4>
                <ul>
                    <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i><a href="#">Nasuja, Madhapur, Hyderabad</a></li>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i><a href="#">+1 599-033-5036</a></li>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@systray.in"> example@mail.com</a></li>
                </ul>
            </div>
        <div class="clearfix"> </div>
        </div>
        
    </div>
</div>
					<!--copy-->
					<div class="copy-section">
						<div class="container">
							<div class="copy-left">
								<p>&copy; 2016 Systray . All rights reserved | Design by <a href="https://systray.in/">Systray LLP</a></p>
							</div>
							<div class="copy-right">
								<img src="images/card.png" alt=""/>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				<!--copy-->
				

</body>

<script>

const uploadButton = document.querySelector('.browse-btn');
const fileInfo = document.querySelector('.file-info');
const realInput = document.getElementById('real-input');

uploadButton.addEventListener('click', (e) => {
  realInput.click();
});

realInput.addEventListener('change', () => {
  const name = realInput.value.split(/\\|\//).pop();
  const truncated = name.length > 40 
    ? name.substr(name.length - 40) 
    : name;
  
  fileInfo.innerHTML = truncated;
});

</script>
</html>